<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/layout">

<head>
</head>

<body>
<div class="container-fluid" layout:fragment="content">
    <div class="statistics">
        <div class="statistics-header">
            <h1>Statistics</h1>
        </div>
        <div class="statistics-container">
            <div class="users-statistics">
                <div class="users-count">
                    <h3>Number of users:
                        <!--/*@thymesVar id="usersCount" type="java.lang.Long"*/-->
                        <span style="color: black" th:text="${usersCount}"></span>
                    </h3>
                </div>
            </div>
            <div class="postings-statistics">
                <div class="postings-count">
                    <h3>Number of postings:
                        <!--/*@thymesVar id="postingsCount" type="java.lang.Long"*/-->
                        <span style="color: black" th:text="${postingsCount}"></span>
                    </h3>
                </div>
            </div>
            <div class="offers-statistics">
                <div class="offers-count">
                    <h3>Number of offers:
                        <!--/*@thymesVar id="offersCount" type="java.lang.Long"*/-->
                        <span style="color: black" th:text="${offersCount}"></span>
                    </h3>
                </div>
            </div>
            <figure class="highcharts-figure" style="width: 50%">
                <div id="category-pie"></div>
                <div id="location-pie"></div>
            </figure>
            <script type="text/javascript">
                $(document).ready(
                    function() {
                        $.ajax({
                            url : "/highchart/categories",
                            success : function(result) {
                                var data = [];
                                console.log(result);
                                Object.keys(result).forEach(
                                    function(key) {
                                        data.push([key, result[key]]);
                                    });
                                console.log(data);
                                drawChart(data, 'category-pie', 'Postings by category');
                            }
                        });
                        $.ajax({
                            url : "/highchart/locations",
                            success : function(result) {
                                var data = [];
                                console.log(result);
                                Object.keys(result).forEach(
                                    function(key) {
                                        data.push([key, result[key]]);
                                    });
                                console.log(data);
                                drawChart(data, 'location-pie', 'Postings by location');
                            }
                        });
                    });

                function drawChart(data, destination, title) {
                    Highcharts.chart(destination, {
                        chart : {
                            type : 'pie',
                            styledMode : true
                        },
                        title : {
                            text : title
                        },
                        tooltip : {
                            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                        },
                        plotOptions : {
                            pie: {
                                allowPointSelect: true,
                                cursor: 'pointer',

                                dataLabels: {
                                    enabled: true,
                                    format: '<b>{point.name}%</b>: {point.percentage:.1f} %',
                                    style: {
                                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor)||
                                            'black'
                                    }
                                }
                            }
                        },
                        series : [{
                            type: 'pie',
                            name: 'Postings by category',
                            data: data
                        }]
                    });
                }
            </script>
        </div>
    </div>
</div>
</body>

</html>
