<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../dashboard/html/css/style.css" rel="stylesheet">
</head>

<body>
<section id="wrapper" class="error-page">
    <div class="error-box">
        <div class="error-body">
            <h1>404</h1>
            <h3 class="text-uppercase">Page Not Found</h3>
            <a href="/home">Back to home</a>
        </div>
    </div>
</section>
</body>

</html>
