<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/layout">

<head>
</head>

<body>
<div class="container-fluid" layout:fragment="content">
    <div class="form-container">
        <!--/*@thymesVar id="profileForm" type="com.realthomasmiles.marketplace.controller.v1.command.ProfileFormCommand"*/-->
        <form action="#" method="POST" th:action="@{/profile}" th:object="${profileForm}">
            <div class="form-group">
                <label for="firstName">First Name</label>
                <div>
                    <input type="text" th:field="*{firstName}" name="firstName" id="firstName">
                </div>
                <small th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></small>
            </div>
            <div class="form-group">
                <label for="lastName">Last Name</label>
                <div>
                    <input type="text" th:field="*{lastName}" name="lastName" id="lastName">
                </div>
                <small th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></small>
            </div>
            <div class="form-group">
                <label for="phoneNumber">Phone No</label>
                <div>
                    <input type="text" th:field="*{phoneNumber}" name="phoneNumber" id="phoneNumber">
                </div>
                <small th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></small>
            </div>
            <div class="form-group">
                <div>
                    <button>Update Profile</button>
                </div>
            </div>
        </form>
    </div>
    <div class="form-container">
        <!--/*@thymesVar id="passwordForm" type="com.realthomasmiles.marketplace.controller.v1.command.PasswordFormCommand"*/-->
        <form action="#" method="POST" th:action="@{/password}" th:object="${passwordForm}">
            <div class="form-group">
                <label>Email</label>
                <div>
                    <input type="text" th:field="*{email}" readonly="readonly">
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <div>
                    <input type="password" th:field="*{password}" name="password" id="password">
                </div>
                <small th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></small>
            </div>
            <div class="form-group">
                <div>
                    <button>Change Password</button>
                </div>
            </div>
        </form>
    </div>
    <form th:action="@{/logout}">
        <input type="submit" value="Logout" />
    </form>
</div>
</body>

</html>
