body {
    font-family: Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    margin: 0;
    min-height: 100vh;
}

.brand h1 {
    margin: 1em;
    text-align: center;
    color: dodgerblue;
    font-size: 4em;
}

.text-danger {
    color: indianred;
    display: block;
    font-weight: bold;
    margin: 10px 0;
}

.form-title {
    color: dodgerblue;
    text-align: center;
    font-size: 2.5em;
    margin: 0;
}

.signup-form {
    margin: 25px auto;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 50vw;
}

.login-form {
    margin: 25px auto;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 50vw;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: dodgerblue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: blue;
}

.refuse {
    text-align: center;
}

a {
    text-decoration: none;
    color: dodgerblue;
    text-align: center;
}

a:hover {
    color: blue;
}

a > h3 {
    margin: 0;
}
